@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

p {
  color: #8C8C8C;
}

li {
  user-select: none;
  color: #B2B2B2;
}

h1 {
  font-size: 18px;
  color: #666666;
  font-weight: 500;
}

h2 {
  color: #666666;
  font-weight: 500;
}

span {
  text-decoration: underline;
}

li:hover {
  transition:ease-in-out 0.1s;
  color: #8C8C8C;
}

